<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>格安SIM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="../css/mini-default.min.css">
  <link rel="stylesheet" href="../css/web-grid.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div id="app">

    <!-- ヘッダイメージ -->
    <div class="container header-img">
      <div class="r">
        <div class="c-2"></div>
        <div class="c-4">
          <img src="../imgs/no_img.jpg" class="header-img-l">
        </div>
        <div class="c-4">
          <div>
            <img src="../imgs/no_img.jpg" class="header-img-m">
            <img src="../imgs/no_img.jpg" class="header-img-m">
          </div>
        </div>
        <div class="c-2"></div>
      </div>
    </div>

    <!-- 固定ヘッダ -->
    <header class="sticky">
      <a class="log" href="index.html">格安SIM</a>
      <a class="button" href="items.html">docomo</a>
      <a class="button" href="items.html">au</a>
      <a class="button" href="items.html">SoftBank</a>
    </header>

    <!-- コンテンツ -->
    <main class="container">
      <div class="r">
        <div class="c-2"></div>
        <!-- 左 -->
        <div class="c-6">
          <h1>格安SIM</h1>
          <!-- 2 box -->
          <div class="r">
            <div v-for="n in 2" class="c-6">
              <a href="item.html">
                <div class="box">
                  <img src="../imgs/no_img.jpg" class="col2-img">
                  <p>ああああああああああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおお</p>
                  <p class="box-ymd">yyyy/mm/dd</p>
                </div>
              </a>
            </div>
          </div>
          <!-- 3 box -->
          <div class="r">
            <div v-for="n in 3" class="c-4">
              <a href="item.html">
                <div class="box">
                  <img src="../imgs/no_img.jpg" class="col3-img">
                  <p>ああああああああああいいいいいいいいいいううううううううううええええええええええ</p>
                  <p class="box-ymd">yyyy/mm/dd</p>
                </div>
              </a>
            </div>
          </div>
          <!-- 4 box -->
          <div class="r">
            <div v-for="n in 4" class="c-3">
              <a href="item.html">
                <div class="box">
                  <img src="../imgs/no_img.jpg" class="col4-img">
                  <p>ああああああああああいいいいいいいいいいううううううううううええええええええええ</p>
                  <p class="box-ymd">yyyy/mm/dd</p>
                </div>
              </a>
            </div>
          </div>
          <!-- 6 box -->
          <div class="r">
            <div v-for="n in 6" class="c-2">
              <a href="item.html">
                <div class="box">
                  <img src="../imgs/no_img.jpg" class="col6-img">
                  <p>ああああああああああいいいいいいいいいい</p>
                  <p class="box-ymd">yyyy/mm/dd</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- 右 -->
        <div class="c-2">
          <h2>新着</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p>ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
          <h2>人気</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p>ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
        </div>
        <div class="c-2"></div>

      </div>
    </main>

    <!-- フッタ -->
    <footer class="container">
      <div class="r">
        <div class="c-1"></div>
        <div class="c-10">
          <p>&copy; 2018 格安SIM</p>
        </div>
      </div>
        <div class="c-1"></div>
    </footer>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data: {
  },
  methods: {
    fnc_methods: function(){
      console.log('call methods');
    }
  },
  computed: {
    fnc_computed: function(){
      console.log('call computed');
    }
  }
})
</script>
</html>
