<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>格安SIM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <!--
  <link rel="stylesheet" href="../css/mini-default.min.css">
  -->
  <link rel="stylesheet" href="../css/web-grid.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div id="app">

    <!-- ヘッダイメージ -->
    <!--
    <div class="container">
      <img src="../imgs/gifsample.gif" class="header-img">
    </div>
    -->
    <!--
    <div class="container header-img">
      <div class="r">
        <div class="c-2"></div>
        <div class="c-4">
          <img src="../imgs/no_img.jpg" class="header-img-l">
        </div>
        <div class="c-4">
          <div>
            <img src="../imgs/no_img.jpg" class="header-img-m">
            <img src="../imgs/no_img.jpg" class="header-img-m">
          </div>
        </div>
        <div class="c-2"></div>
      </div>
    </div>
    -->

    <!-- 固定ヘッダ -->
    <!--
    <header class="sticky">
      <a v-for="n in 10" class="button" href="items.html">あああああ</a>
    </header>
    -->

    <header>
      <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
        </ul>
      </div>
    </nav>
  </div>
    </header>

    <!-- コンテンツ -->
    <main class="container">
      <div class="r">
        <!-- 左 -->
        <div class="c-8">
          <!-- 2 box -->
          <div class="r">
            <div v-for="n in 2" class="c-6">
              <a href="item.html">
                <div class="box">
                  <img src="../imgs/no_img.jpg" class="col2-img">
                  <p class="box-content">ああああああああああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおお</p>
                  <p class="box-ymd">yyyy/mm/dd</p>
                </div>
              </a>
            </div>
          </div>
          <!-- 3 box -->
          <div class="r">
            <div v-for="n in 3" class="c-4">
              <a href="item.html">
                <div class="box">
                  <img src="../imgs/no_img.jpg" class="col3-img">
                  <p class="box-content">ああああああああああいいいいいいいいいいううううううううううええええええええええ</p>
                  <p class="box-ymd">yyyy/mm/dd</p>
                </div>
              </a>
            </div>
          </div>
          <!-- 4 box -->
          <div class="r">
            <div v-for="n in 4" class="c-3">
              <a href="item.html">
                <div class="box">
                  <img src="../imgs/no_img.jpg" class="col4-img">
                  <p class="box-content">ああああああああああいいいいいいいいいいううううううううううええええええええええ</p>
                  <p class="box-ymd">yyyy/mm/dd</p>
                </div>
              </a>
            </div>
          </div>
          <!-- 6 box -->
          <div class="r">
            <div v-for="n in 6" class="c-2">
              <a href="item.html">
                <div class="box">
                  <img src="../imgs/no_img.jpg" class="col6-img">
                  <p class="box-content">ああああああああああいいいいいいいいいい</p>
                  <p class="box-ymd">yyyy/mm/dd</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- 右 -->
        <div class="c-4">
          <h2>新着</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p>ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
          <h2>人気</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p>ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </main>

    <!-- フッタ -->
    <footer class="container">
      <div class="r">
        <div class="c-1"></div>
        <div class="c-10">
          <p>&copy; 2018 格安SIM</p>
        </div>
      </div>
        <div class="c-1"></div>
    </footer>

  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data: {
  },
  methods: {
    fnc_methods: function(){
      console.log('call methods');
    }
  },
  computed: {
    fnc_computed: function(){
      console.log('call computed');
    }
  }
})
</script>
</html>
