<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>格安SIM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/common.css">
</head>
<body class="grey lighten-5">

  <div id="app">

    <!-- ヘッダ -->
    <header>
      <div>
        <img src="../imgs/sample_01.jpg" width="100%" height="256px" alt="">
      </div>
    </header>

    <!-- ナビ デスクトップ -->
    <nav class="fixed-top">
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="show-on-large">
          <li class="nav-ul-li"><a href="items.html">ドコモ</a></li>
          <li class="nav-ul-li"><a href="items.html">au</a></li>
          <li class="nav-ul-li"><a href="items.html">ソフトバンク</a></li>
          <li class="nav-ul-li"><a href="items.html">LINEモバイル</a></li>
          <li class="nav-ul-li"><a href="items.html">ワイモバイル</a></li>
          <li class="nav-ul-li"><a href="items.html">UQ mobile</a></li>
          <li class="nav-ul-li"><a href="items.html">U-mobile</a></li>
          <li class="nav-ul-li"><a href="items.html">IIJmio</a></li>
          <li class="nav-ul-li"><a href="items.html">mineo</a></li>
          <li class="nav-ul-li"><a href="items.html">nuroモバイル</a></li>
          <li class="nav-ul-li"><a href="items.html">BIGLOBE</a></li>
          <li class="nav-ul-li"><a href="items.html">NifMo</a></li>
          <li class="nav-ul-li"><a href="items.html">b-mobile</a></li>
          <li class="nav-ul-li"><a href="items.html">OCN モバイル ONE</a></li>
        </ul>
        <ul class="hide-on-large-only">
          <li class="nav-ul-li"><a href="items.html">ドコモ</a></li>
          <li class="nav-ul-li"><a href="items.html">au</a></li>
          <li class="nav-ul-li"><a href="items.html">ソフトバンク</a></li>
        </ul>
      </div>
    </nav>
    <!-- ナビ スマホ -->
    <ul class="sidenav" id="mobile-demo">
      <li class="nav-ul-li"><a href="items.html">ドコモ</a></li>
      <li class="nav-ul-li"><a href="items.html">au</a></li>
      <li class="nav-ul-li"><a href="items.html">ソフトバンク</a></li>
      <li class="nav-ul-li"><a href="items.html">LINEモバイル</a></li>
      <li class="nav-ul-li"><a href="items.html">ワイモバイル</a></li>
      <li class="nav-ul-li"><a href="items.html">UQ mobile</a></li>
      <li class="nav-ul-li"><a href="items.html">U-mobile</a></li>
      <li class="nav-ul-li"><a href="items.html">IIJmio</a></li>
      <li class="nav-ul-li"><a href="items.html">mineo</a></li>
      <li class="nav-ul-li"><a href="items.html">nuroモバイル</a></li>
      <li class="nav-ul-li"><a href="items.html">BIGLOBE</a></li>
      <li class="nav-ul-li"><a href="items.html">NifMo</a></li>
      <li class="nav-ul-li"><a href="items.html">b-mobile</a></li>
      <li class="nav-ul-li"><a href="items.html">OCN モバイル ONE</a></li>
    </ul>


    <!-- コンテンツ -->
    <main>
      <div class="container">
        <div class="row">
          <!-- コンテンツ メイン 左 -->
          <div class="col s12 m8 l9">
            <p v-for="n in 30">XXXXXXXXXX</p>
          </div>
          <!-- コンテンツ サブ 右 -->
          <div class="col s12 m4 l3">
          </div>
        </div>
      </div>
    </main>

    <!-- フッタ -->
    <footer>
      <div class="container">
        <div class="page-footer grey darken-4">
          <div class="row">
            <div class="col l6 s12">
              <p class="grey-text text-lighten-4">&copy; 2018 格安SIM</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.sidenav').sidenav();
});

var app = new Vue({
  el: '#app',
  data: {
  },
  methods: {
    fnc_methods: function(){
      console.log('call methods');
    }
  },
  computed: {
    fnc_computed: function(){
      console.log('call computed');
    }
  }
})

</script>
</html>
