<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>格安SIM - XX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" href="../css/web-grid.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/item.css">
</head>
<body>
  <div id="app">

    <header>
      <div class="navbar-fixed">
        <nav class="black">
          <div class="nav-wrapper">
            <a href="./index.html" class="brand-logo hide-on-med-and-down">格安SIM</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="./items.html">LINEモバイル</a></li>
              <li><a href="./items.html">UQ mobile</a></li>
              <li><a href="./items.html">U-mobile</a></li>
              <li><a href="./items.html">IIJmio</a></li>
              <li><a href="./items.html">mineo</a></li>
              <li><a href="./items.html">nuroモバイル</a></li>
              <li><a href="./items.html">BIGLOBE</a></li>
              <li><a href="./items.html">NifMo</a></li>
              <li><a href="./items.html">b-mobile</a></li>
              <li><a href="./items.html">OCN モバイル ONE</a></li>
              <li><a href="./items.html">楽天モバイル</a></li>
              <li><a href="./items.html">エキサイトモバイル</a></li>
            </ul>
            <ul class="right hide-on-large-only">
              <li><a href="./items.html">LINEモバイル</a></li>
              <li><a href="./items.html">UQ mobile</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="./items.html">LINEモバイル</a></li>
        <li><a href="./items.html">UQ mobile</a></li>
        <li><a href="./items.html">U-mobile</a></li>
        <li><a href="./items.html">IIJmio</a></li>
        <li><a href="./items.html">mineo</a></li>
        <li><a href="./items.html">nuroモバイル</a></li>
        <li><a href="./items.html">BIGLOBE</a></li>
        <li><a href="./items.html">NifMo</a></li>
        <li><a href="./items.html">b-mobile</a></li>
        <li><a href="./items.html">OCN モバイル ONE</a></li>
        <li><a href="./items.html">楽天モバイル</a></li>
        <li><a href="./items.html">エキサイトモバイル</a></li>
      </ul>
    </header>

    <!-- コンテンツ -->
    <main class="container">
      <div class="r">
        <!-- 左 -->
        <div class="c-8">
          <h1>XXXXXXXXXX</h1>
          <div class="boxs">
            <div v-for="n in 8" class="box">
              <img src="../imgs/no_img.jpg">
            </div>
          </div>
          <div>
            <p>400文字</p>
            <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
            <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
            <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
            <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
          </div>
          <table>
            <tr v-for="n in 5">
              <td>あいうえお</td>
              <td>かきくけこ</td>
            </tr>
          </table>
            <p>400文字</p>
            <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
            <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
            <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
            <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
        </div>

        <!-- 右 -->
        <div class="c-4">
          <h2>新着</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box hoverable">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
          <h2>人気</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box hoverable">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </main>

    <!-- フッタ -->
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <a href="./index.html" class="white-text">格安SIM</a>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <p>&copy; 2018 格安SIM</p>
          </div>
        </div>
      </div>
    </footer>

  </div>
</body>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.sidenav').sidenav();
});

var app = new Vue({
  el: '#app',
  data: {
  },
  methods: {
    fnc_methods: function(){
      console.log('call methods');
    }
  },
  computed: {
    fnc_computed: function(){
      console.log('call computed');
    }
  }
})
</script>
</html>
