<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>格安SIM - XX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" href="../css/web-grid.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/item.css">
</head>
<body>
  <div id="app">

    <header>
      <div class="navbar-fixed">
        <nav class="black">
          <div class="nav-wrapper">
            <a href="./index.html" class="brand-logo hide-on-med-and-down">格安SIM</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="./items.html">LINEモバイル</a></li>
              <li><a href="./items.html">UQ mobile</a></li>
              <li><a href="./items.html">U-mobile</a></li>
              <li><a href="./items.html">IIJmio</a></li>
              <li><a href="./items.html">mineo</a></li>
              <li><a href="./items.html">nuroモバイル</a></li>
              <li><a href="./items.html">BIGLOBE</a></li>
              <li><a href="./items.html">NifMo</a></li>
              <li><a href="./items.html">b-mobile</a></li>
              <li><a href="./items.html">OCN モバイル ONE</a></li>
            </ul>
            <ul class="right hide-on-large-only">
              <li><a href="./items.html">LINEモバイル</a></li>
              <li><a href="./items.html">UQ mobile</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="./index.html">HOME</a></li>
        <li><a href="./items.html">LINEモバイル</a></li>
        <li><a href="./items.html">UQ mobile</a></li>
        <li><a href="./items.html">U-mobile</a></li>
        <li><a href="./items.html">IIJmio</a></li>
        <li><a href="./items.html">mineo</a></li>
        <li><a href="./items.html">nuroモバイル</a></li>
        <li><a href="./items.html">BIGLOBE</a></li>
        <li><a href="./items.html">NifMo</a></li>
        <li><a href="./items.html">b-mobile</a></li>
        <li><a href="./items.html">OCN モバイル ONE</a></li>
      </ul>
    </header>

    <!-- コンテンツ -->
    <main class="container">
      <div class="r">
        <!-- 左 -->
        <div class="c-8">

          <h1>・商品に関する（SIM）注意 特徴・キャンペーン・メリット・デメリット</h1>
          <p>◆エントリーコードを利用すると初期費用3000円が500円程度になる！</p>
          <p>使用の際の注意点</p>
          <p>LINEモバイルは登録事務手数料(初期費用)が3000円かかりますが、500円程度で買えるエントリーコードを利用することで登録事務手数料が無料になります。</p>
          <p>https://www.amazon.co.jp/exec/obidos/ASIN/B01MFI02JO/kakuyasusimcards-22/</p>
          <p>エントリーパッケージにはエントリーコードが入っています(SIMカードは入っていません)。</p>
          <p>※ エントリーパッケージを利用すると、SIMなしのデータSIMは申し込めなくなるので注意してください。</p>
          <p>エントリーコードをLINEモバイルの申し込み時に入力すると、3000円の登録事務手数料が無料になります。エントリーパッケージは時期によりますが500円程度で買えるので、実質的な登録事務手数料は500円程度になります。</p>
          <p>ただし、ここに大きな落とし穴があります。</p>
          <p>落とし穴①</p>
          <p>エントリーコードを使うと、キャンペーンコードを使ったLINEギフトコードプレゼントがもらえません。</p>
          <p>落とし穴②
          <p>エントリーコードを使う場合はSMSなしのデータSIMを申し込めません。(つまり、SMSなしのLINEフリーは申し込み不可)</p>
          <p>落とし穴③</p>
          <p>エントリーコードを一度入力すると、再度入力できません。途中で申し込みをやめて、最初から申し込みをやり直す場合、エントリーコードが無効になって使えなくなっています。さらにエントリーコードには有効期限があり、場合によっては有効期限の短いエントリーコードが届く場合があります。</p>
          <p>ざっくり評価すると、SMSありのデータSIMを申し込む場合にだけエントリーコードの利用を考えてください。それ以外の場合は、SMSなしのデータSIMならそのまま申し込む、通話SIMならエントリーコードを使わずにキャンペーンコードを使って申し込むことをオススメします。</p>
          <p>※大手キャリアからMNPする場合は、MNPをする前にSIMロックを解除してください。</p>
          <p>◆新しいiPhoneや今使っているドコモやau、ソフトバンクのスマホは使える？
          <p>ほとんどの場合で新しいiPhoneや今使っているドコモやau、ソフトバンクのスマホを使うことができますが、使えないパターンもあります。</p>
          <p>詳細は公式サイトの動作確認済み端末検索から確認することをオススメします。</p>
          
          <p>動作確認済み端末検索はこちら → LINEモバイル(公式サイト)</p>
          <p>URL https://mobile.line.me/support/device/search/?key=iPhone%208</p>
          <p>「端末」→「今使っている端末をご利用の方は」から動作確認済み端末検索を確認することができます。</p>
          
          <p>・商品関連記事</p>
          <p>◆新しいiPhoneは使える？</p>
          <p>LINEモバイル(ドコモ回線/ソフトバンク回線)で新しいiPhoneを使うことができます。ナノSIMでもiPhone専用ナノSIMでも使えます。</p>
          <p>アップルストアでiPhoneを購入するか、ヤフオクや中古ショップでSIMロックを解除したドコモ/au/ソフトバンクのiPhoneを購入すれば、そのiPhoneをLINEモバイル(ドコモ回線/ソフトバンク回線)で使うことができます。テザリングも問題なくできます。</p>
          <p>※スマホ端末URL</p>
          <p>◆ドコモのスマホは使える？</p>
          <p>ドコモのスマホは、LINEモバイルのドコモ回線で使うことができます。面倒な話はほとんどなく簡単に使えます。気をつけることはSIMのサイズとテザリングの有無くらいです。</p>
          <p>・ドコモのiPhoneについて</p>
          <p>ドコモのiPhoneはLINEモバイルのドコモ回線で使うことができます。ドコモのiPhoneならSIMロックの解除の必要なく使えます。テザリングも問題なく使うことができます。</p>
          <p>iPhone</p>
          <p>6s以上のモデルならSIMロックを解除することで、LINEモバイルのソフトバンク回線でも使うことができます。ナノSIMでもiPhone専用ナノSIMでも使えます。</p>
          <p>◆auのスマホは使える？</p>
          <p>SIMロックを解除したauのスマホならLINEモバイル(ドコモ回線/ソフトバンク回線)で使うことができます。ただし、対応バンドが少なくなるので、電波の受信が悪くなる可能性が高いです。基本的にはauのスマホはau系の格安SIMで使った方が無難です。</p>
          <p>・auのiPhoneについて</p>
          <p>SIMロックを解除したauのiPhoneならLINEモバイル(ドコモ回線/ソフトバンク回線)で問題なく使うことができます。テザリングもできます。ナノSIMでもiPhone専用ナノSIMでも使えます。</p>
          <p>◆ソフトバンクのスマホは使える？</p>
          <p>ソフトバンクのスマホはSIMロックを解除すれば、LINEモバイルのソフトバンク回線で使うことができます。ナノSIMでもiPhone専用ナノSIMでも使えます。</p>
          <p>2017年8月以降に発売されたソフトバンクのスマホならSIMロック解除なしに、LINEモバイルのソフトバンク回線のナノSIMなら使えます。</p>
          <p>ソフトバンクのスマホはSIMロックを解除すれば、LINEモバイルのドコモ回線でも使えますが、電波が少し悪くなる可能性があるので、ソフトバンク回線を使うことをオススメします。</p>
          <p>・ソフトバンクのiPhoneについて</p>
          <p>SIMロックを解除したソフトバンクのiPhoneならLINEモバイル(ドコモ回線/ソフトバンク回線)で問題なく使うことができます。テザリングもできます。ナノSIMでもiPhone専用ナノSIMでも使えます。</p>
          <p>ソフトバンク回線のiPhone専用ナノSIMの場合は、SIMロック解除の必要なくソフトバンクのiPhoneが使えます。</p>
          <p>ソフトバンク回線のナノSIMの場合は、2017年5月以降に発売されたソフトバンクのiPhoneならSIMロック解除の必要なく使えます。</p>
          <p>◆LINEモバイルの評判とTwitterでの満足度調査の結果</p>
          <p>ツイッターでの声をまとめる</p>
          <p>LINEモバイルは格安SIMの中でとりわけ遅いわけではありませんが、格安SIMではありえない超速い速度を期待していた人たちにより評判が結構悪くなってしまいました。</p>
          <p>それでもSNS系アプリをデータ消費なしに使えて、まだまともな通信速度が出るのはLINEモバイルくらいなので実際にやめる人はそんなに多くはいませんでした。(不満ながら他に選択肢がないので使っている感じ)</p>
          
          <a href="item2.html">前のページへ</a>
         
          <!-- 
          <blockquote class="twitter-tweet tweet-no-0" lang="ja" data-conversation="none" align="left">
          <p>LINEモバイルのテザリングが無料としったのでお家のテレビでアマゾンプライム見られるのうれしい<br></p>
          &mdash;
          にゃもちゃん(@yeahhhahahah)
          <a href="https://twitter.com/yeahhhahahah/statuses/1028317389136355333">Sat Aug 11 16:29:05 +0000 2018</a></blockquote><div style="clear:both;"></div>
          <blockquote class="twitter-tweet tweet-no-1" lang="ja" data-conversation="none" align="left"><p><a title="主婦まるりん" href="http://twitter.com/ketuekigata55" target="_blank">@ketuekigata55</a>
          そうなんですね！<br>LINEモバイルの店舗に行った時の店員さんもすごく親切で、絶対店舗契約しなきゃいけないと思ってたけど、ネットの方がお得だし、<br>まるりんさんの話を聞いて、色々安心しました！！！また、名義変更とMNP番号取得したら連絡します！！夜遅くに、ありがとうございました！<br></p>&mdash;
          裏垢系男子(@9QC1ej9S0ypLeoa)<a href="https://twitter.com/9QC1ej9S0ypLeoa/statuses/1028307673341603840">Sat Aug 11 15:50:29 +0000 2018</a></blockquote><div style="clear:both;"></div>
          <blockquote class="twitter-tweet tweet-no-2" lang="ja" data-conversation="none" align="left">
          <p>LINEモバイルにするとここまで安くなるんだよなあ🙄🙄今WiFi込で14000円くらいだから、かなり楽になるよね…二年縛りがあるから、なかなかすぐにはムリだけど、ひとり暮らししたらWiFi環境鑑みて挑戦する💓🙋
          <ahref="https://t.co/65PzEKLZIM" target="_blank">pic.twitter.com/65PzEKLZIM</a>
          LZIM<br><a href="https://pbs.twimg.com/media/DkVEl-bUcAQM0sF.jpg" target="_blank"><img src="https://pbs.twimg.com/media/DkVEl-bUcAQM
          -->
          <hr>

          <div class="r">
            <div class="c-8">
              <h2>関連記事</h2>
              <div v-for="n in 8">
                <a href="item.html">
                  <div class="list-box hoverable">
                    <img src="../imgs/no_img.jpg" class="list-box-img">
                    <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="c-4">
              <h2>気になる</h2>
              <div v-for="n in 2">
                <a href="item.html">
                  <div class="box hoverable">
                    <img src="../imgs/gifsample.gif" class="col4-img">
                    <p class="box-content">ああああああああああいいいいいいいいいいううううううううううええええええええええ</p>
                    <p class="box-ymd">yyyy/mm/dd</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- 右 -->
        <div class="c-4">
          <h2>新着</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box hoverable">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
          <h2>人気</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box hoverable">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </main>

    <!-- フッタ -->
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <a href="./index.html" class="white-text">格安SIM</a>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <p>&copy; 2018 格安SIM</p>
          </div>
        </div>
      </div>
    </footer>

  </div>
</body>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.sidenav').sidenav();
});

var app = new Vue({
  el: '#app',
  data: {
  },
  methods: {
    fnc_methods: function(){
      console.log('call methods');
    }
  },
  computed: {
    fnc_computed: function(){
      console.log('call computed');
    }
  }
})
</script>
</html>
