<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>格安SIM - XX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" href="../css/web-grid.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/item.css">
</head>
<body>
  <div id="app">

    <header>
      <div class="navbar-fixed">
        <nav class="black">
          <div class="nav-wrapper">
            <a href="./index.html" class="brand-logo hide-on-med-and-down">格安SIM</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="./items.html">LINEモバイル</a></li>
              <li><a href="./items.html">UQ mobile</a></li>
              <li><a href="./items.html">U-mobile</a></li>
              <li><a href="./items.html">IIJmio</a></li>
              <li><a href="./items.html">mineo</a></li>
              <li><a href="./items.html">nuroモバイル</a></li>
              <li><a href="./items.html">BIGLOBE</a></li>
              <li><a href="./items.html">NifMo</a></li>
              <li><a href="./items.html">b-mobile</a></li>
              <li><a href="./items.html">OCN モバイル ONE</a></li>
            </ul>
            <ul class="right hide-on-large-only">
              <li><a href="./items.html">LINEモバイル</a></li>
              <li><a href="./items.html">UQ mobile</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="./index.html">HOME</a></li>
        <li><a href="./items.html">LINEモバイル</a></li>
        <li><a href="./items.html">UQ mobile</a></li>
        <li><a href="./items.html">U-mobile</a></li>
        <li><a href="./items.html">IIJmio</a></li>
        <li><a href="./items.html">mineo</a></li>
        <li><a href="./items.html">nuroモバイル</a></li>
        <li><a href="./items.html">BIGLOBE</a></li>
        <li><a href="./items.html">NifMo</a></li>
        <li><a href="./items.html">b-mobile</a></li>
        <li><a href="./items.html">OCN モバイル ONE</a></li>
      </ul>
    </header>

    <!-- コンテンツ -->
    <main class="container">
      <div class="r">
        <!-- 左 -->
        <div class="c-8">

          <h1>◆LINEモバイルの実際の通信速度はどうなのか？</h1>
          <p>LINEモバイルの実際に出る通信速度</p>
          <p>格安SIMごとに実際に出る通信速度は大幅に異なります。速い格安SIMと遅い格安SIMを比較すると100倍くらい速度差が出たりもします。格安SIMを選ぶ上で、実際に出る通信速度はかなり重要な判断材料です。</p>
          <p>LINEモバイルの実際に出る通信速度はドコモ回線とソフトバンク回線で大きく異なります。</p>
          <p>LINEモバイルのドコモ回線の通信速度は格安SIMの中では普通レベルですが、LINEモバイルのソフトバンク回線の通信速度は格安SIMの中でもトップクラスの速さです。</p>
          <p>LINEモバイルのドコモ回線は格安SIMの中では悪くはないのですが、ソフトバンク回線がとにかく速いです。</p>
          <p>ソフトバンク回線は2018年7月2日からサービスを開始して、LINEモバイルが想定したよりも急激にユーザが増えてしまい、7月14日から17日までかなり速度が遅くなってしまいました。</p>
          <p>サービス開始2週間後には格安SIMの中でもクズ速度にまで低下してしまいましたが、2018年7月18日のお昼前には速度が超速くなり、それ以後は平日の昼でも快適な速度を維持しています。</p>
          <p>LINEモバイルのソフトバンク回線が超速い速度を維持する理由</p>
          <p>LINEモバイルはソフトバンクの子会社だからです。</p>
          <p>MVNO事業の最大のコストは回線費用です。ソフトバンク回線は親会社のソフトバンクから回線を借りてサービスを提供しています。</p>
          <p>LINEモバイルがソフトバンクから回線をたくさん借りて赤字になっても、親会社のソフトバンクの売り上げが増えるだけです。親子内でトータルでプラスになれば、おそらくソフトバンクは問題視しないのだろうと思います。</p>
          <p>その結果、LINEモバイルのソフトバンク回線は平日昼でも最低1Mbpsの通信速度を保証すると言い出したんだろうと思います。</p>
          <p>サービス開始当初は想定以上のユーザの急増に対応できずに7月14日から17日まで速度がかなり低下してしまいましたが、7月18日からはソフトバンクの子会社パワーで超大幅増強が行われ、一気に超速い速度に改善してしまいました。</p>
          <p>回線の増強はそんなホイホイできないのですが、おそるべきはソフトバンクの子会社パワー・・、もう、なんでもありです。</p>
          <p>最低1Mbps保証の格安スマホ最速チャレンジについて</p>
          <p>LINEモバイルでは2018年8月2日から2018年12月31日まで、LINEモバイルのソフトバンク回線の通信速度がもし1Mbpsを下回った場合、1GBがもらえるキャンペーンを行なっています。(ソフトバンク回線を契約している人限定です)</p>
          <p>ほぼ確実に1GBはもらえません。</p>
          <p>代わりに平日昼でも快適にネットが使えます。</p>
          <p>他の格安SIMは平日昼は0.1Mbps〜0.4Mbps程度しか通信速度が出ず、多くのユーザが不満に思っています。</p>
          <p>速度が一番低下する平日昼に最低1Mbps出れば、その他の時間帯は10Mbpsくらい出ます。最低1Mbps保証があれば、かなり快適に使うことができます。</p>
          <p>格安SIMで平日昼でも快適に使えるのはUQ mobileだけでしたが、LINEモバイルのソフトバンク回線も平日昼でも快適に使える格安SIMに・・。</p>
          <p>LINEモバイルのドコモ回線は格安SIMの中では普通レベルなので悪いというわけではありませんが、速度があからさまに有利になるソフトバンク回線のサービスが始まったため、LINEモバイルでドコモ回線を選ぶメリットは少ないです。</p>
          <p> LINEモバイルのリアルタイム速度と通信速度ランキング</p>
          <p>このサイトでは2018年2月から格安SIMの通信速度をリアルタイムに計測するサイトをオープンしました。LINEモバイルの実際に出る通信速度を複数の測定項目で計測しているので参考にしてみてください。</p>
          <p>→ LINEモバイルのドコモ回線の通信速度(リアルタイム)</p>
          <p>→ LINEモバイルのソフトバンク回線の通信速度(リアルタイム)</p>

          <a href="item.html">前のページへ</a>
          <a href="item3.html">次のページへ</a>
          <hr>

          <div class="r">
            <div class="c-8">
              <h2>関連記事</h2>
              <div v-for="n in 8">
                <a href="item.html">
                  <div class="list-box hoverable">
                    <img src="../imgs/no_img.jpg" class="list-box-img">
                    <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="c-4">
              <h2>気になる</h2>
              <div v-for="n in 2">
                <a href="item.html">
                  <div class="box hoverable">
                    <img src="../imgs/gifsample.gif" class="col4-img">
                    <p class="box-content">ああああああああああいいいいいいいいいいううううううううううええええええええええ</p>
                    <p class="box-ymd">yyyy/mm/dd</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- 右 -->
        <div class="c-4">
          <h2>新着</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box hoverable">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
          <h2>人気</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box hoverable">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </main>

    <!-- フッタ -->
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <a href="./index.html" class="white-text">格安SIM</a>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <p>&copy; 2018 格安SIM</p>
          </div>
        </div>
      </div>
    </footer>

  </div>
</body>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.sidenav').sidenav();
});

var app = new Vue({
  el: '#app',
  data: {
  },
  methods: {
    fnc_methods: function(){
      console.log('call methods');
    }
  },
  computed: {
    fnc_computed: function(){
      console.log('call computed');
    }
  }
})
</script>
</html>
