<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>格安SIM - XX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" href="../css/web-grid.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/item.css">
</head>
<body>
  <div id="app">

    <header>
      <div class="navbar-fixed">
        <nav class="black">
          <div class="nav-wrapper">
            <a href="./index.html" class="brand-logo hide-on-med-and-down">格安SIM</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="./items.html">LINEモバイル</a></li>
              <li><a href="./items.html">UQ mobile</a></li>
              <li><a href="./items.html">U-mobile</a></li>
              <li><a href="./items.html">IIJmio</a></li>
              <li><a href="./items.html">mineo</a></li>
              <li><a href="./items.html">nuroモバイル</a></li>
              <li><a href="./items.html">BIGLOBE</a></li>
              <li><a href="./items.html">NifMo</a></li>
              <li><a href="./items.html">b-mobile</a></li>
              <li><a href="./items.html">OCN モバイル ONE</a></li>
            </ul>
            <ul class="right hide-on-large-only">
              <li><a href="./items.html">LINEモバイル</a></li>
              <li><a href="./items.html">UQ mobile</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="./index.html">HOME</a></li>
        <li><a href="./items.html">LINEモバイル</a></li>
        <li><a href="./items.html">UQ mobile</a></li>
        <li><a href="./items.html">U-mobile</a></li>
        <li><a href="./items.html">IIJmio</a></li>
        <li><a href="./items.html">mineo</a></li>
        <li><a href="./items.html">nuroモバイル</a></li>
        <li><a href="./items.html">BIGLOBE</a></li>
        <li><a href="./items.html">NifMo</a></li>
        <li><a href="./items.html">b-mobile</a></li>
        <li><a href="./items.html">OCN モバイル ONE</a></li>
      </ul>
    </header>

    <!-- コンテンツ -->
    <main class="container">
      <div class="r">
        <!-- 左 -->
        <div class="c-8">

          <h1>LINEモバイル</h1>
          <h2>商品紹介 格安SIMキャリア 説明</h2>
          <p>LINEモバイルの詳細評価＆実際の速度と他の格安SIMとの比較と評判</p>
          <p>LINEモバイルはSNS系のアプリ、LINE、Twitter、Facebook、インスタグラムをデータ消費なしで使うことができる格安SIMです。LINEの年齢認証もできるので、他の格安SIMではできないLINEのID検索が使えます。</p>
          <p>2018年7月2日にソフトバンク回線を開始した結果、想定以上に契約が急増して7月13日から4日間ほど通信速度がとても遅くなってしまいましたが、回線の大幅増強により7月18日からはかなり速い速度を維持しています。</p></p>
          <p>LINEモバイルはソフトバンク回線の速度を重視すると公言しているので、中長期的にも格安SIMとは思えない速い通信速度を維持すると思われます。</p>
          <p>SNS系のアプリをたくさん使う場合や、通信速度を重視する場合にLINEモバイルのソフトバンク回線がオススメです。</p>
          <p>このサイトでは、2016年9月16日からLINEモバイルのドコモ回線、2018年7月3日からソフトバンク回線を契約しています。定期的にLINEモバイルの通信速度の計測を行って、実際の通信品質の結果をLINEモバイルの評価に反映させています。</p>
          <p>◆LINEモバイルオススメポイント</p>
          <p>LINE/Twitter/Facebook/インスタグラムをデータ消費なしで使える</p>
          <p> ソフトバンク回線の通信速度が格安SIMの中でもトップクラスに速い</p>
          <p> LINEの年齢認証ができるのでLINEのID検索ができる</p>
          <p> LINE Payカードを使えばクレジットカードなしでも申し込めて料金も支払える</p>
          <p> 子供用のフィルタリングアプリ(iフィルター)が無料で使える</p>
          <p> 初月無料で初月中に翌月のデータ量の変更ができる
          <p>※ただし以下の様な箇所にご注意下さい。</p>
          <p>問い合わせ電話が有料(22.５秒ごとに10円)</p>
          <p> SNS系のアプリでもデータを消費する場合がある</p>
          <p> データ量の選択肢がやや少ない</p>
          <p> 債務超過後にソフトバンクに実質買収された</p>
          <img src="../imgs/no_img.jpg" height="200px">
          <img src="../imgs/no_img.jpg" height="200px">
          <p>※1 LINEの利用時のデータ消費なし</p>
          <p>※2 上記に加えて、Twitter、Facebook、インスタグラムの利用時のデータ消費なし</p>
          <p>※3 上記1,2に加えて、LINE MUSICの利用時のデータ消費なし</p>
          <p>※ソフトバンク回線は2018年8月までSNS系アプリもデータを消費する代わりにもらえるデータ量が2倍になります。2018年9月からはドコモ回線と同じようにデータフリー(カウントフリー)になります。</p>
          <p>LINEフリープランにSMS機能を付ける場合は＋120円/月 (SMS付きデータSIM)</p>
          <p>コミュニケーションフリーとMUSIC＋のデータSIMにはSMS機能が強制的に付いてきます。</p>
          <p>※音声通話(通話SIM)は070/080/090等の携帯電話番号で電話をする機能です。携帯電話で電話をしたい場合や、MNPをする場合に必要になります。参考：音声通話SIMとデータSIMの違いは緊急通報(110と119)の有無</p>
          <p>その他にかかる費用</p>
          <p>登録事務手数料 3000円</p>
          <p>SIMカード発行手数料 400円</p>
          <p>音声通話付きSIMを12ヶ月以内に解約やMNPをした場合、9800円の解約手数料がかかります。</p>
          <p>SIMカード再発行/サイズの変更/交換 3000円</p>
          <p>(参考記事：格安SIMカードのサイズを変更する方法、マイクロSIM⇔ナノSIM)</p>
          <p>オプション料金</p>
          <p>・留守番電話 300円/月額</p>
          <p>通話料金 30秒20円</p>
          <p>・いつでも電話を使うと通話料金が30秒10円</p>
          <p>・10分電話かけ放題、月額880円で国内通話が10分かけ放題、1回の通話が10分を超過した場合は超過後の通話料金が30秒10円</p>
          <p>低速モードの詳細 (低速モードが使える格安SIMの詳細と使い道)</p>
          <p>・低速と高速の切り替え不可</p>
          <p>MNP転出手数料</p>
          <p>MNP転出の場合3000円のMNP転出手数料。契約から12ヶ月以内にMNPをする場合、9800円の解約手数料が加算される。</p>
          <p>通信制限(規制情報)</p>
          <p>高速データ通信量を使い切った場合は通信速度は200kbpsに制限されます。200kbpsに制限された状態でも、LINEフリーならLINEの利用時は速度制限なし、コミュニケーションフリーならSNS系のアプリの利用時は速度制限なし。MUSIC＋ならSNS系のアプリに加えて、LINE</p>
          <p>MUSICの利用時も速度制限なしに使えます。</p>
          <p>LINEモバイルのドコモ回線はドコモ系の格安SIM、ソフトバンク回線はソフトバンク系の格安SIMです。</p>
          <p>LINEモバイルは余ったデータ量の繰越もできます。テザリングも普通に出来ます。</p>
          <p>LINEモバイルの料金の詳細と申し込みはこちら → URLで公式誘導</p>

          <div>
            <a href="item2.html">次のページへ</a>  
          </div>

          <hr>

          <div class="r">
            <div class="c-8">
              <h2>関連記事</h2>
              <div v-for="n in 8">
                <a href="item.html">
                  <div class="list-box hoverable">
                    <img src="../imgs/no_img.jpg" class="list-box-img">
                    <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="c-4">
              <h2>気になる</h2>
              <div v-for="n in 2">
                <a href="item.html">
                  <div class="box hoverable">
                    <img src="../imgs/gifsample.gif" class="col4-img">
                    <p class="box-content">ああああああああああいいいいいいいいいいううううううううううええええええええええ</p>
                    <p class="box-ymd">yyyy/mm/dd</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- 右 -->
        <div class="c-4">
          <h2>新着</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box hoverable">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
          <h2>人気</h2>
          <div v-for="n in 5">
            <a href="item.html">
              <div class="list-box hoverable">
                <img src="../imgs/no_img.jpg" class="list-box-img">
                <p class="list-box-content">ああああああああああいいいいいいいいいい</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </main>

    <!-- フッタ -->
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <a href="./index.html" class="white-text">格安SIM</a>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <p>&copy; 2018 格安SIM</p>
          </div>
        </div>
      </div>
    </footer>

  </div>
</body>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.sidenav').sidenav();
});

var app = new Vue({
  el: '#app',
  data: {
  },
  methods: {
    fnc_methods: function(){
      console.log('call methods');
    }
  },
  computed: {
    fnc_computed: function(){
      console.log('call computed');
    }
  }
})
</script>
</html>
