h2, h3, h4, h5, h6 {
  font-size: 24px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size: 17px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.btn {
  margin: 5px 5px 5px 5px;
}
.card-items {
  width: 250px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
