* {
  /*border:solid 1px;*/
}

#app {
  /*background-color: white;*/
}

img {
  width: 100%;
}

.col2-img {
  height: 200px;
}

.col3-img {
  height: 150px;
}

.col4-img {
  height: 100px;
}

.col6-img {
  height: 100px;
}

header {
  text-align: center;
}

.header-img {
  /*
  text-align: center;
  */
  height: 400px;
}

.header-img-l {
  width: 800px;
  height: 250px;
}

.header-img-m {
  width: 800px;
  height: 120px;
}

.box {
  border: solid 1px;
  border-color: black;
  color: black;
  /*
  background-color: white;
  */
}

.box-content {
  font-weight: bold;
}

.box-ymd {
  color: grey;
  text-align: right;
  padding: 5px 5px 5px 5px;
}

.list-box {
  border: solid 1px;
  border-color: black;
  color: black;
  height: 64px;
  margin: 5px 5px 5px 5px;
  display: flex;
  /*
  background-color: white;
  */
}

.list-box-img {
  width: 64px;
  height: 64px;
}
