* {
  /*border:solid 1px;*/
}

img {
  width: 100%;
}

header {
  text-align: center;
}

/*
.sticky-header {
 position:-webkit-sticky;
 position:sticky;
 top:0
}
*/

.box {
  color: black;
  /*
  width: 200px;
  margin: 10px 10px 10px 10px;
  */
}

.box-content {
  margin: 0px 0px 5px 5px;
}

.box-ymd {
  color: grey;
  margin: 0px 0px 5px 5px;
}

.list-box {
  color: black;
  height: 64px;
  margin: 5px 5px 5px 5px;
  display: flex;
}

.list-box-content {
  margin: 0px 0px 5px 5px;
}

.list-box-img {
  width: 64px;
}
